<form [formGroup]="commentForm" (ngSubmit)="onSubmit(commentText.value)" *ngIf="isStudentOrTeacher">
  <mat-card>
    <mat-card-title>New comment</mat-card-title>
    <mat-card-content>
      <mat-form-field class="full-width" class="activity-comment-width">
        <textarea #commentText matInput placeholder="Leave a comment" formControlName="comment"></textarea>
        <mat-error class="error-message" *ngIf="fieldHasError('comment','required')">
            The comment cannot be null
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div class="container">
        <div class="row">
          <button mat-raised-button color="primary" type="submit"  [disabled]="!commentForm.valid">Send</button>

        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>

<mat-card *ngFor="let comment of comments">

   <mat-card-title>
    <div fxLayout="row" fxLayoutGap="20px">
      <div class="image-cropper" *ngIf="getCommenterImage(comment) != null">
        <img [src]="getCommenterImage(comment)" class="profile-pic">
      </div>
      <div>{{getCommenterName(comment)}}, {{getCommenterType(comment)}}</div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  <mat-card-content>
    {{comment.text}}
  </mat-card-content>
  <mat-card-actions *ngIf="isAdmin">
    <button mat-raised-button color="warn" (click)="delete(comment)" type="button">Delete</button>
  </mat-card-actions>
</mat-card>
