<div class="mat-elevation-z8">
  <div fxLayout="row" fxLayoutGap="50px">
      <mat-form-field class="full-width">
          <input matInput (keyup)="applyActivityNameFilter($event.target.value)" placeholder="Filter by activity name">
      </mat-form-field>

      <mat-form-field class="full-width">
          <input matInput #ref (dateChange)="applyDateFilter(ref.value)" (dateInput)="applyDateFilter(ref)" [matDatepicker]="picker" placeholder="Filter by date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="dataSource == null"></mat-progress-bar>

  <mat-table [dataSource]="dataSource" matSort [hidden]="dataSource == null">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Activity name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.location}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="periodOfRegistration">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Period of registration </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.periodOfRegistration}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="host">
        <mat-header-cell *matHeaderCellDef mat-sort-header>  Host  </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.host.name}} {{row.host.lastName}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{formatDate(row.date)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="enrollment">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Enrollment </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="isNoEnrollment(row.activityId) ? 'blue':
          (isEnrollmentPending(row.activityId) ? '#FFD271':
          (isEnrollmentApproved(row.activityId) ? 'green' :
          (isEnrollmentRejected(row.activityId) ? 'red' : null)))">
          <ng-container *ngIf="isNoEnrollment(row.activityId)">
            No enrollment
          </ng-container>
          <ng-container *ngIf="isEnrollmentPending(row.activityId)">
            Enrollment is pending
          </ng-container>
          <ng-container *ngIf="isEnrollmentApproved(row.activityId)">
            Enrollment approved!
          </ng-container>
          <ng-container *ngIf="isEnrollmentRejected(row.activityId)">
            Enrollment rejected
          </ng-container>
        </mat-cell>
      </ng-container>

    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef ></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="viewActivity(row.activityId)">View</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
</div>
