<div class="card-center">
  <div>
  <div *ngIf='registerSuccess'> 
  <h3  style="color: green;" > The user is registered successfully! <br/> Please wait for admin to approve</h3>
  </div>

  
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm)">
    <mat-card>        

      <mat-card-title>
         Welcome to LTAS!
      </mat-card-title>
      <mat-card-subtitle>
        Please enter you email and password to start
      </mat-card-subtitle>
      <mat-card-content>
        <div class="container">
          <div class="row">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
          </div>
        </div>

        <mat-error *ngIf='invalidCredentialsError'> The user is invalid! </mat-error>
        <mat-error *ngIf='userDisabledError'> The user is disabled,<br/> please wait for admin to approve! </mat-error>

      </mat-card-content>    

      <mat-card-actions>
        <div class="container">
          <div class="row">
            <button mat-raised-button color="primary" type="submit">Sign in</button>
            <button mat-button (click)="studentSignUp()">Student sign-up</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
  </div>
</div>
