<form [formGroup]="profileUpdateForm" (submit)="submit(profileUpdateForm)">
  <mat-card>
    <mat-card-title>Profile update</mat-card-title>
    <mat-card-content>
        <div fxLayout="row" fxLayoutGap="50px">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="name">

                 <mat-error class= "error-message"
                  *ngIf = "fieldHasError('name','required')">
                  The name is required

                 </mat-error>

          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastname">


                  <mat-error class= "error-message"
                  *ngIf = "fieldHasError('lastname','required')">
                  The last name is required
                 </mat-error>

          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="50px">
          <mat-form-field class="full-width">
            <input matInput placeholder="New password" type="password" formControlName="password">
              <mat-error class= "error-message"
                *ngIf = "fieldHasError('password','required')">
                Please enter your new password
              </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Confirm new password" type="password" formControlName="confirmPassword">

                <mat-error class= "error-message"
                    *ngIf = "fieldHasError('confirmPassword','mustMatch')">
                    Passwords do not match
                </mat-error>

          </mat-form-field>
        </div>

        <mat-error *ngIf="unknownError">Unknown error</mat-error>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="mat-raised-button" color="primary" type="submit" style="margin-left: 5px"
        [disabled]="!profileUpdateForm.valid">Update profile</button>
    </mat-card-actions>
  </mat-card>
  </form>
