<div class="mat-elevation-z8">

  <mat-progress-bar mode="indeterminate" *ngIf="dataSource == null"></mat-progress-bar>

  <mat-table [dataSource]="dataSource" matSort [hidden]="dataSource == null">

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef><mat-icon [style.padding-left]="'10px'">photo_camera</mat-icon></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="image-cropper" *ngIf="row.image != null">
          <img [src]="row.image" class="profile-pic">
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div fxLayout="row">
          <div>{{row.name}}</div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="studentId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Student ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.studentId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="approve">
      <mat-header-cell *matHeaderCellDef >Approve</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="getStudentProcessingState(row) == null">
          <button mat-raised-button color="primary" (click)="approve(row)" type="button">Approve</button>
        </ng-container>
        <ng-container style="color: goldenrod;" *ngIf="getStudentProcessingState(row) == 'approved'">
          Approved!
        </ng-container>
        <ng-container style="color: grey;" *ngIf="getStudentProcessingState(row) == 'processing'">
          Processing...
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reject">
      <mat-header-cell *matHeaderCellDef >Reject</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">
        <ng-container *ngIf="getStudentProcessingState(row) == null">
          <button mat-raised-button color="warn" (click)="reject(row)" type="button">Reject</button>
        </ng-container>
        <ng-container style="color: red;"  *ngIf="getStudentProcessingState(row) == 'rejected'">
          Rejected!
        </ng-container>
        <ng-container style="color: grey;" *ngIf="getStudentProcessingState(row) == 'processing'">
          Processing...
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="undo">
      <mat-header-cell *matHeaderCellDef >Undo</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">
        <ng-container *ngIf="['approved', 'rejected'].indexOf(getStudentProcessingState(row)) != -1">
          <button mat-raised-button color="primary" (click)="undo(row)" type="button">Undo</button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
</div>
