.mat-column-image {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 60px !important;
  width: 60px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
