<div class="mat-elevation-z8">

  <mat-progress-bar mode="indeterminate" *ngIf="dataSource == null"></mat-progress-bar>

  <mat-table [dataSource]="dataSource" matSort *ngIf="dataSource != null">

    <ng-container matColumnDef="studentName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Student </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.student.name}} {{row.student.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="approve">
      <mat-header-cell *matHeaderCellDef >Approve</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="'green'"> 
        <ng-container *ngIf="!isProcessing(row) && row.isWaitingForApproval">
          <button mat-raised-button color="primary" (click)="approve(row)" type="button">Approve</button>
        </ng-container>
        <ng-container *ngIf="!isProcessing(row) && !row.isWaitingForApproval && row.isApproved">
          Approved!
        </ng-container>
        <ng-container *ngIf="isProcessing(row)">
          Processing...
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reject">
      <mat-header-cell *matHeaderCellDef >Reject</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row" [style.color]="'red'">
        <ng-container *ngIf="!isProcessing(row) && row.isWaitingForApproval">
          <button mat-raised-button color="warn" (click)="reject(row)" type="button">Reject</button>
        </ng-container>
        <ng-container  *ngIf="!isProcessing(row) && !row.isWaitingForApproval && !row.isApproved">
          Rejected!
        </ng-container>
        <ng-container  *ngIf="isProcessing(row)">
          Processing...
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="undo">
      <mat-header-cell *matHeaderCellDef >Undo</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row" [style.color]="'midnightblue'">
        <ng-container *ngIf="!isProcessing(row) && !row.isWaitingForApproval">
          <button mat-raised-button color="basic"  (click)="undo(row)" type="button">Undo</button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
</div>
