<form [formGroup]="studentForm" (submit)="submit(studentForm)">
<mat-card>
  <mat-card-title>Student sign up</mat-card-title>
  <mat-card-subtitle>Please fill out the form and submit for approval</mat-card-subtitle>
  <mat-card-content>
      <div fxLayout="row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Student Id" formControlName="studentId">

            <mat-error class="error-message" *ngIf="fieldHasError('studentId', 'required')">
                Student Id is required
            </mat-error>

            <mat-error class="error-message" *ngIf="fieldHasError('studentId', 'maxlength')">
                Student Id is too long
            </mat-error>

            <mat-error class="error-message" *ngIf="fieldHasError('studentId', 'pattern')">
                Student Id consists of only number
            </mat-error>

        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="50px">
        <mat-form-field class="full-width">
          <input matInput placeholder="First name" formControlName="name">

               <mat-error class= "error-message"
                *ngIf = "fieldHasError('name','required')">
                The name is required

               </mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Last name" formControlName="lastname">
                <mat-error class= "error-message"
                *ngIf = "fieldHasError('lastname','required')">
                The last name is required
               </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <form>
          <mat-file-upload [labelText]="'Select your images:'" [selectButtonText]="'Choose File'" [uploadButtonText]="'Submit'" [allowMultipleFiles]="false" [showUploadButton]="true" [acceptedTypes]="'.png, .jpg, .jpeg'"  (uploadClicked)="onUploadClicked($event)"></mat-file-upload>
          <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>
        </form>
      </div>

      <div fxLayout="row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email">


                <mat-error class= "error-message"
                  *ngIf = "fieldHasError('email','required')">
                  Email address is required
                </mat-error>

                <mat-error class="error-message"
                  *ngIf = "fieldHasError('email', 'email')">
                  Email address is invalid

                </mat-error>


        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="50px">
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error class= "error-message"
              *ngIf = "fieldHasError('password','required')">
              Please enter your new password
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">

              <mat-error class= "error-message"
                  *ngIf = "fieldHasError('confirmPassword','mustMatch')">
                  Passwords do not match
              </mat-error>

        </mat-form-field>
      </div>

      <mat-error *ngIf="userAlreadyExistsError">User with this email is already registered</mat-error>
      <mat-error *ngIf="unknownError">Unknown error</mat-error>
  </mat-card-content>
  <mat-card-actions>
      <button mat-button class="mat-raised-button" color="primary" type="submit" style="margin-left: 5px"
      [disabled]="!studentForm.valid">Submit for approval</button>
      <button mat-button class="mat-button" style="margin-left: 5px" routerLink="/login"> Sign in </button>
  </mat-card-actions>
</mat-card>
</form>
