<mat-progress-bar mode="indeterminate" *ngIf="activity == null"></mat-progress-bar>

<mat-card *ngIf="activity != null">
  <mat-card-title>{{activity.name}}</mat-card-title>
  <!-- <img mat-card-lg-image [src]="user.image || defaultImageUrl"> -->

  <mat-card-subtitle>Hosted by {{activity.host.name}} {{activity.host.lastName}}</mat-card-subtitle>
  <mat-card-content>
    <div>{{activity.description}}</div>
    <img *ngIf="activity.image != null && activity.image.length > 0" [attr.src]="activity?.image" [alt]="activity?.name">
  </mat-card-content>
  <mat-card-actions *ngIf="isStudent">
    <ng-container *ngIf="isNoEnrollment()">
      <button mat-raised-button color="primary" (click)="enroll()">Enroll activity</button>
    </ng-container>
    <ng-container *ngIf="isEnrollmentPending()">
      Enrollment is pending for teacher's approval...
    </ng-container>
    <ng-container *ngIf="isEnrollmentApproved()">
      Enrollment approved!
    </ng-container>
    <ng-container *ngIf="isEnrollmentRejected()">
      Enrollment rejected
    </ng-container>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="activity != null && isTeacher">
  <mat-card-title>Enrollments</mat-card-title>
  <mat-card-content><app-enrollment-approve [activityId]="activity.activityId"></app-enrollment-approve></mat-card-content>
</mat-card>

<mat-card *ngIf="activity != null">
  <mat-card-title>Comments</mat-card-title>
  <mat-card-content><app-activity-comment-list [activity]="activity"></app-activity-comment-list></mat-card-content>
</mat-card>
