<div>
    <div *ngIf='isActivityCreated'> 
    <h3  style="color: green;" > The activity is created successfully! </h3>
</div>

<mat-card>
  <mat-card-title>New students</mat-card-title>
  <mat-card-content><app-student-approve></app-student-approve></mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>Activities</mat-card-title>
  <mat-card-content><app-activities-list></app-activities-list></mat-card-content>
  <button mat-raised-button color="primary" (click)="newActivity()">New activity</button>
</mat-card>

