<mat-toolbar color="primary">

  <mat-toolbar-row *ngIf="isAuthorized">

    <button mat-icon-button (click)="toDashboard()">
      <mat-icon>home</mat-icon>
      <span *ngIf="isAdmin"> Admin dashboard </span>
      <span *ngIf="isTeacher"> Teacher dashboard </span>
      <span *ngIf="isStudent"> Student dashboard </span>
    </button>

    <div fxFlex fxLayout fxLayoutAlign="flex-end">

      <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center center">
        <div class="image-cropper" *ngIf="person.image != null">
          <img [src]="person.image" class="profile-pic">
        </div>

        <span>{{person.name}} {{person.lastName}}</span>

        <div>
          <button mat-icon-button [matMenuTriggerFor]="auth">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #auth="matMenu">
            <button mat-menu-item (click)="edit()">
              <mat-icon>edit</mat-icon>
              <span>Edit profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </div>

      </div>

    </div>

  </mat-toolbar-row>

</mat-toolbar>
