<form [formGroup]="newActivityForm" (submit)="submit(newActivityForm)">
<mat-card>
  <mat-card-title>New activity</mat-card-title>
  <mat-card-content>

        <div fxLayout="row">
            <mat-form-field class="full-width">
              <input matInput placeholder="Activity name" formControlName="name">
                <mat-error class="error-message" *ngIf="fieldHasError('name', 'required')">
                  Activity name is required
                </mat-error>
            </mat-form-field>
        </div>


       
        <div fxLayout="row">
            <mat-form-field class="full-width">
                  <input matInput placeholder="Location" formControlName="location">
                    <mat-error class="error-message" *ngIf="fieldHasError('location','required')">
                      Please fill out the location
                    </mat-error>
            </mat-form-field>
        </div>


        <div fxLayout="row">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Description" formControlName="description"></textarea>
                <mat-error class="error-message" *ngIf="fieldHasError('description','required')">
                  Please add the description
                </mat-error>
            </mat-form-field>
       </div>

          <div fxLayout="row" fxLayoutGap="50px">
          <mat-form-field class="full-width">
            <input matInput placeholder="Period of registration" formControlName="periodOfRegistration">
                <mat-error class="error-message" *ngIf="fieldHasError('periodOfRegistration','required')">
                  Period of registration is required
                </mat-error>

                <mat-error clss="error-message" *ngIf="fieldHasError('periodOfRegistration','pattern')">
                  Invalid format
                </mat-error>
          </mat-form-field>

          <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error class="error-message" *ngIf="fieldHasError('date','required')">
                  Please ensure the date
                </mat-error>
            </mat-form-field>
          </div>




        <div fxLayout="row">
          <form>
            <mat-file-upload [labelText]="'Select activity images:'" [selectButtonText]="'Choose File'" [uploadButtonText]="'Upload'" [allowMultipleFiles]="false" [showUploadButton]="true" [acceptedTypes]="'.png, .jpg, .jpeg'"
              (uploadClicked)="onUploadClicked($event)"></mat-file-upload>
            <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>
          </form>
        </div>


          <div fxLayout="row">
            <mat-form-field class="full-width">
              <mat-select placeholder="Host" formControlName="host">
                <mat-option *ngFor="let teacher of teachers" [value]="teacher.email">
                  {{ teacher.name + ' ' + teacher.lastName }}
                </mat-option>
              </mat-select>
              <mat-error class="error-message" *ngIf="fieldHasError('host','required')">
                Please select the host
              </mat-error>
            </mat-form-field>
          </div>

        <mat-error *ngIf="unknownError">Unknown error</mat-error>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="mat-raised-button"
      color="primary" type="submit" style="margin-left: 5px" [disabled]="!newActivityForm.valid">Submit</button>
  </mat-card-actions>
</mat-card>
</form>
